@tailwind base;
@tailwind components;
@tailwind utilities;


.text_plano_borda_azul{text-shadow: 
    -2px -2px 0px #000bfb, 
    -2px 2px 0px #000bfb,                    
     2px -2px 0px #000bfb,                  
     2px 0px 0px #000bfb;
}
.text_plano_borda_preto{text-shadow: 
    -2px -2px 0px #000, 
    -2px 2px 0px #000,                    
     2px -2px 0px #000,                  
     2px 0px 0px #000;
}
.text_plano{
    text-shadow: rgba(255,255,255, 0.2) 0px 0px 5px, rgba(255,255,255, 0.2) 0px 0px 10px, rgba(255,255,255, 0.2) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;}
  